/*HEADER STYLES*/
header {
    margin: 15px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: grey;
}

header nav li button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #4082EE;
    width: 70px;
    height: 30px;
    font-size: 10px;
    border-radius: 10%;
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

/*MAIN STYLES*/
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 auto;
}

main img {
    width: 40%;
    height: auto;
    padding-top: 10px;
    margin-bottom: 50px;
}

#search-bar {
    width: 40%;
    border-radius: 10px;
}

main div {
    margin-top: 10px;
}

main div button {
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

p a {
    color: blue;
}

/*FOOTER STYLES*/
footer {
    position: absolute;
    bottom: 0px;
    margin-left: 15px;
    width: 100%;
    background-color: #F2F2F2;
    height: 5%;
}

footer nav {
    margin: auto auto;
    height: 100%;
}

footer nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr 1fr 1fr;
    justify-content: center;
}